
p{ 
    font-family: 'Aileron';
    font-size: 20px;
}
h1{
    font-family: 'Blackout Midnight';
}
h2{
    font-family: 'Blackout Midnight';
}
h3{
    font-family: 'Blackout Midnight';
}
code{
    background-color: #BBB;
    border-radius: 1vh;
    font-family: 'Iosevka'
}
body.dark{
    background-color:black;
    color:whitesmoke;
}


code.dark{
background-color: #555;
color:whitesmoke;
}
